@charset "utf-8";

$theme-color: #F9BE01 !default;
$theme-dark: #F1A62C !default;
$white-color: #fff !default;
$light-color: #939ca2 !default;
$gray-color: #8c8c8c !default;

$bg-color: #1d1d1d !default;

$layout: 475px !default;

$text-xxs: 7px !default;
$text-xs: 9px !default;
$text-small: 11px !default;
$text-normal: 12px !default;
$text-large: 14px !default;
$text-xl: 16px !default;
$text-xxl: 20px !default;
